<div class="employee-table">

  <h2>Employee List <LinkTo class="add-button" @route="employee-form" @model={{hash}}>Add</LinkTo>
  </h2>
  <table>
    <thead>
    <tr>
      <th>Emp-Id</th>
      <th>Emp-Name</th>
      <th>Emp-Department</th>
      <th>Email</th>
      <th>Contact-Number</th>
      <th>Address</th>
      <th>Salary</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#if this.employee.employees.length}}
      {{#each this.employee.employees as |employee|}}
        <tr>
          <td>{{employee.id}}</td>
          <td>{{employee.name}}</td>
          <td>{{employee.department}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.contact}}</td>
          <td>{{employee.address}}</td>
          <td>{{employee.salary}}</td>
          <td>
            <LinkTo class="edit-button" @route="employee-form" @model={{employee}}>Edit</LinkTo>
              <button {{on "click" (fn this.deleteEmployee employee.id)}}>Delete</button>
          </td>
        </tr>
      {{/each}}
    {{else}}
      <tr>
        <td colspan="8">No employees available</td>
      </tr>
    {{/if}}
    </tbody>
  </table>

</div>
